		*{
			margin: 0;
			border: 0;
			padding: 0;
		}
		html{
			font-family: arial;

			
		}
		body{
			background: linear-gradient(to bottom, #000, #000080);
		}

		header{
			font-size: 10px;
			padding-bottom: 5px;
		}
		footer{
			text-align: center;
			color: #fff;
			padding:1rem;
			bottom: 0;
			width: 100%;
			padding-top: 2rem;
		}

		figure{
			text-align: left;
		}
		
		.conteudo{
			padding:20px;
			margin-left: 2rem;
			text-align: left;
			color: #fff;	
		}
		
		.imagem-container {
		    position: relative; /* Para garantir que a transição seja aplicada corretamente */
		    overflow: hidden; /* Para esconder o conteúdo que se estende além do container */
		}
		.imagem-container{
		    width: 100%;
		    height: auto;
		}
		.imagem-container::before{
			  content: "";
			  position: absolute;
			  width: 100%;
			  height: 97.5%;
			  background: rgba(0, 0, 0, 0.5); /* Cor de fundo escura */
			  opacity: 1; /* Começa invisível */
			  transition: opacity 0.5s ease; /* Transição suave */
			  border-radius: 50px 50px 48px 48px;
		}
		.imagem-container:hover::before{
		    opacity: 0; 
		 }
		.imagem{

			border-radius: 50px 50px 50px 50px;
			width: 100%;
			height: 100%;
			padding-bottom: 10px;		
		}

		#grid-conteudo{
			text-align: justify;
		}

		.grid-corpo{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
			grid-gap: 10px;/*significa separar grades lateralmente*/
			max-width: 1200px;
			margin: 0 auto; 
			color: #fff;
			text-shadow: 1px 1px #000;
		}/*
		#whats{
			
			right: 0;
			bottom: 0;
			position: fixed;
			text-align: center;
			z-index: 1;
			margin-right: 30px;
			margin-bottom: 20px;
		}*/
		h1{
			font-size: 32px;
		}
		h2{
			font-size: 1.9rem;
		}
		p{
			font-size: 20px;
			color: skyblue;
			margin-left: 26px;
		}
		
		nav{
			text-align: right;
			font-size: 1.2rem;
			word-spacing: 10px;
			margin-right: 8%;
			padding: 18px;
		}
		a{
			text-align: right;
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			background-color: rgb(40, 150, 20);
			padding: 5px;
			border-radius: 20px;
		}	
		a:hover{
			color: #000;
			border: solid;
			background-color: rgb(20, 200, 20);
		}

		